@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  min-width: 319px;
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-image: url("../img/bg.png");
  -webkit-text-size-adjust: 100%;
}

#result {
  padding: 0 0 50px 0;
}

.fp {
  font-size: 24px;
  background: #48e298;
  border: 4px double black;
  padding: 10px;
  display: block;
  margin: 10px 5%;
  width: 90%;
  text-align: center;
  word-wrap: break-word;
}

.cb {
  text-decoration: underline;
}

h2 {
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold;
  display: block;
}

h3 {
  text-align: center;
}

h2 > p {
  background: #838bfd;
  word-wrap: break-word;
  border: 4px double black;
  display: block;
  padding: 5px;
  margin: 10px 35%;
  width: 30%;
  text-align: center;
}

ul {
  line-height: 1.5;
  display: inline-block;
}

ul > li {
  margin: 0 0 8px 0;
}

ul > li:last-child {
  margin: 0;
}

ul li:before {
  content: "";
  background-size: cover;
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 2px 0;
}

.first {
  padding: 10px 10px 10px 0;
  border: 4px double black;
  background: whitesmoke;
  display: block;
  margin: 10px 15%;
  width: 70%;
}

.first > li {
  padding: 0 0 0 10px;
  text-align: justify;
}

.first > li:before {
  content: "";
  background-image: url(../img/first.svg);
}

.second > li {
  padding: 0 0 0 50px;
}

.second > li:before {
  content: "";
  background-image: url(../img/second.svg);
}

.third > li {
  padding: 0 0 0 90px;
}

.third > li:before {
  content: "";
  background-image: url(../img/third.svg);
}

.fourth > li {
  padding: 0 0 0 130px;
}

.fourth > li:before {
  content: "";
  background-image: url(../img/fourth.svg);
}

#drawingCanvas {
  width: 50%;
}

@media (max-width: 767px) {
  .first {
    margin: 10px 5%;
    width: 90%;
  }
  .first > li {
    padding: 0 0 0 5px;
    text-align: left;
    overflow: hidden;
  }
  .second > li {
    padding: 0 0 0 30px;
  }
  .third > li {
    word-break: break-all;
    padding: 0 0 0 55px;
  }
  h2 > p {
    margin: 10px 20%;
    width: 60%;
  }
  #drawingCanvas {
    width: 95%;
  }
  #drawingWebGL {
    width: 60%;
  }
}
